<div class="container col-xxl-8 px-4 py-5 mat-elevation-z8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/29/369/desktop-wallpaper-how-to-use-angular.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">3PF-Ocampo</h1>
        <p class="lead">Mi tercera entrega del proyecto final</p>
      </div>
    </div>
</div>